<!DOCTYPE html>
<html>

<head>
    <title>Home - Columbus apple cab</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="mainCss.css">
    <script src="mainJs.js" defer></script>
</head>

<body style="display: none;">
    <header>
        <a href="/"><img id="applecabLogo" src="./applecabLogo.png" alt="img"></a>
        <ul>
            <li><a class="navLink" href="./">Home</a></li>
            <li><a class="navLink" href="./">About Us</a></li>
            <li><a class="navLink" href="/reservations">Reservation</a></li>
            <li><a class="navLink" href="./">Contact Us</a></li>
        </ul>
    </header>
    <main>
        <a id="rBtn" href="/reservations">Make your reservation NOW!</a>
        <img id="cbusPic" src="./cbusPic.jpg" alt="img">
    </main>
    <footer>
        <p id="pfooter">Copyright &copy; 2023 apple cap Columbus, OH taxi service - All rights reserved.</p>
        
    </footer>
</body>

</html>